{% extends "base.html.twig" %}

{% block title %} {{ parent() }} - Modifier un contrat {% endblock %}
       
{% block contenu %} <h1> Modifier un contrat </h1> 

{% if form.valide is defined %} 
    {% if form.valide == true %}
       <h1 class="h3 mb-3 font-weight-normal">Modification réussie</h1>
    {% else %} 
       <h1 class="h3 mb-3 font-weight-normal">{{ form.valide.message }}</h1> 
    {% endif %}     
{% else %}      
    
<div class="panel-body">
  <form  class="form-signin" action="index.php?page=contratmodif" method="post" enctype="application/x-www-form-urlencoded">
    <label for="totalContrat" class="sr-only">Total:</label>
    <input type="int" id="totalContrat" name="totalContrat" class="form-control" placeholder="Nouveau total" required autofocus>
    <label for="facture" class="sr-only">Facture:</label>
    <input type="int" id="totalContrat" name="facture" class="form-control" placeholder="Nouvelle facture" required autofocus>
    <label for="facture" class="sr-only">Date de la signature:</label>
    <input type="date" id="totalContrat" name="dateSignature" class="form-control" placeholder="Saisir la date de la signature" required autofocus>
   
   <button class="btn btn-lg btn-primary btn-block" type="submit" name="btAjouter">Ajouter</button>
  </form>
</div>    
{% endif %}
{% endblock %} 
